@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.event{
    width: 25%;
   
    background-color: rgb(7, 3, 19);
    color: white;
   
    

    
}

button{
    margin: 10px;
   margin: 0 auto;
}
